@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #dfe9f5;
    display: flex;
}
.container{
    display: flex;
}
nav{
    position:relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background:#fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0, 0,0.1);
}
.logo{
    text-align: center;
    display:flex;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;  
}
nav .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #86a6cd;
    color:#fff
}
.logout{
    position: absolute;
    bottom: 0;
}

/* Main Section */
.main-body{
    padding: 1rem;
    width:100%;
  }
.promo_card{
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: #2e4b6e;
    text-align: center;
    align-items: center;
    box-shadow: 6px 6px rgba(34, 144, 222, 0.443);
}
.promo_card h1, .promo_card span, button{
    margin: 20px;
}
.promo_card button{
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.grid-container {
    margin-top: 80px;
    display: grid;
    row-gap: 30px;
    font-size: 20px;
}
.main-body{
    text-align: center;
}

#btnn{
    margin-top: 25px;
    width: 20%;
    height: 8%;
    transition-duration: 0.4s;
    background: #2e4b6e;
    color: white;
    font-size: 20px;
    box-shadow: 6px 6px rgba(34, 144, 222, 0.443);
}
#btnn:hover{
    background-color: #4CAF50;
    color: white;
}

.inputs{
    background: rgb(194, 191, 191);
    height: 315px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name{
    background: #fff;
    margin-top: 10px 10px 10px 10px;
    height: 10px;
    width: 90%;
}
.Address{
    position: relative;
    background: #fff;
    margin-top: 10px;
    height: 10px;
    width: 90%;
}
.tp{
    position: relative;
    background: #fff;
    margin-top: 10px;
    height: 20px;
    width: 80%;
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    background-color: #ddd9d9;
    border-radius: 10px;
  }
  form {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    display: flex;
  }
#mainbase{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    height:350px;
    width:500px;
}