@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #dfe9f5;
    display: flex;
}
.container{
    display: flex;
}
nav{
    position:relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background:#fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0, 0,0.1);
}
.logo{
    text-align: center;
    display:flex;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;  
}
nav .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #86a6cd;
    color:#fff
}
.logout{
    position: absolute;
    bottom: 0;
}

.wel{
    margin-top: 50px;
    display: relative;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    height:600px;
    width:600px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(164, 167, 167);

}

.blue{
    width:150px;
    height:100px;
    background-color: blue;
    margin-top: 80px;
    margin-left: 200px;
    box-shadow: 2px 2px 2px 2px rgb(147, 144, 144);

}
.lightblue{
    width:150px;
    height:100px;
    background-color: rgb(64, 179, 213);
    margin-left: 300px;
    box-shadow: 2px 2px 2px 2px rgb(147, 144, 144);
}

#upload{
    background-color: rgb(35, 87, 199);
    width: 180px;
    padding: 10px;
    margin-top:20px;
    margin-left: 230px;
    border-radius: 20px;
    color: #fff;
    border: white solid 1px;
    box-shadow: 2px 2px 2px 2px rgb(170, 168, 168);
}
