<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/style.css' )}}">
  <script src="https://kit.fontawesome.com/43ac320d0f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}">
            <span class="nav-item">DashBoard</span>
          </a></li>
        <li><a href="#">
            <i class="fa-solid fa-house"></i>
            <span class="nav-item">Home</span>
          </a></li>
        <li><a href="{{ url_for('aadhar') }}">
            <i class="fa-solid fa-user"></i>
            <span class="nav-item">Aadhar Card</span>
          </a></li>
        <li><a href="{{ url_for('pan') }}">
            <i class="fa-solid fa-credit-card"></i>
            <span class="nav-item">Pan Card</span>
          </a></li>
        <li><a href="">
            <i class="fa-solid fa-car"></i>
            <span class="nav-item">Driving License</span>
          </a></li>
        <li><a href="">
            <i class="fa-solid fa-passport"></i>
            <span class="nav-item">Passport</span>
          </a></li>
        <li><a href="{{ url_for('digitalid') }}">
            <i class="fa-solid fa-file-signature"></i>
            <span class="nav-item">Digital Signature</span>
          </a></li>
        <li><a href="" class="logout">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="nav-item">Log Out</span>
          </a></li>
      </ul>
    </nav>
<form action="/digitalid" method="post" enctype="multipart/form-data">
  <input type="file" accept="image/*" name="image">
  <button type="submit">Upload Image</button>
</form>

    {% if digitalid_img %}
      <img id="final_image" class="img-fluid border rounded imgheightWidth" src={{url_for('static', filename='images/' + digitalid_img)}} alt="Image" >
    {% endif %}

    </section>
  </div>

</body>

</html>