<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='css/style.css' )}}">
    <script src="https://kit.fontawesome.com/43ac320d0f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                        <img src="{{ url_for('static', filename='img/logo.png') }}">
                        <span class="nav-item">DashBoard</span>
                    </a></li>
                <li><a href="#">
                        <i class="fa-solid fa-house"></i>
                        <span class="nav-item">Home</span>
                    </a></li>
                <li><a href="{{ url_for('aadhar') }}">
                        <i class="fa-solid fa-user"></i>
                        <span class="nav-item">Aadhar Card</span>
                    </a></li>
                <li><a href="{{ url_for('pan') }}">
                        <i class="fa-solid fa-credit-card"></i>
                        <span class="nav-item">Pan Card</span>
                    </a></li>
                    <li><a href="{{ url_for('voter') }}">
                        <i class="fa-solid fa-car"></i>
                        <span class="nav-item">Voter ID</span>
                    </a></li>

                <li><a href="">
                        <i class="fa-solid fa-file-signature"></i>
                        <span class="nav-item">Digital Signature</span>
                    </a></li>

            </ul>
        </nav>

        <section class="main">

        </section>
    </div>

</body>

</html>